*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: Geneva, Verdana, sans-serif;
}
.container{
    display: block;
    width: 99%;
    height: 100%;
    margin: 0 auto;
    background: #ccc7;
}
body{
    background-color: #ffff;
}
header{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width: 100%;
    min-height: 90px;
}
.content_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    min-height: 90px;
}
.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 14%;
}
.logotipo{
    width: 40px;
    object-fit: cover;
}
b{
    font-weight: bolder;
}
form{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 40px;
   
}
.header_input{
    width: 90%;
    height: 40%;
    padding: 10px;
    border: none;
    background:#ccc7;
}
.header_button{
    width: 78px;
    height: 90%;
    border: none;
    background:#ccc7;
}
.cadastra{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 18%;
}
.link_navabr{
    color: #000;
    width: 70px;
    padding: 8px;
    text-align: center;
    font-weight: bolder;
    border-radius: 2px;
    background:#ccc7;
    
}
.link_navabr_violet{
    color: white;
    width: 110px;
    padding: 8px;
    text-align: center;
    font-weight: bolder;
    border-radius: 2px;
    background:lightskyblue;
}
.perfil{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
/************************************/
.first_section{
    position: fixed;
    width: 100%;
    height: 88vh;
}
.content_first_section{
    display: flex;
    flex-direction: row;
}
aside{
    width: 20%;
    height: 88vh;
    padding: 10px;
    background: #ddd7;
}
.align_aside{
    margin-top: 10px;
}
.artist{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.artist:hover{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    background-color: white;
    transition: .2s all;
}
.descricaodoartista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 66%;
}
.img_artist{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.alcance{
    font-weight: bolder;
}
.central{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 80%;
    height: 88vh; 
    overflow: auto;
}
.one_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 96%;
    min-height: 56vh;
    margin-bottom: 50px;
}
.card{
    width: 32%;
    height: 93%;
}
.img_card{
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
    background:url('../img/lendas/R.png');
    background-size: cover;
    background-position: center;
}
.info_card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 280px;
}
.info_card p{
    margin: 9px 0px;
}
.tired{
    color: black;
    padding: 4px;
    background: #ccc;
    border-radius: 2px;
}
/*****************SCROLL AREA****************************************/
::-webkit-scrollbar{
    width: 0px;
}